.pull-right {
    margin-top: 10px;
    margin-bottom: 50px;
}

#form-buttons {
    margin-top: 40px;
}

.clearfix {
    height: 50px;
}

.sentence {
    font-size: 20px;
    padding: 20px;
    margin-bottom: 30px;
    margin-top: 10px;
    color: black;
    border-radius: 20px;
    border: 2px solid #245580
}

td {
    padding: 10px;
}

.checkbox {
    margin-top: 15px;
    margin-bottom: 15px;
}

.relations {
    margin-top: 50px;
}

.btn-group {
    margin-top: 10px;
    margin-bottom: 25px;
}

.btn-danger {
    background-color: white;
    border-color: grey;
    color: black;
    background-image: none;
    font-size: 18px;
}

.btn-success {
    background-color: white;
    border-color: grey;
    color: black;
    background-image: none;
    font-size: 18px;
}

.btn-info {
    background-color: white;
    border-color: grey;
    color: black;
    background-image: none;
    font-size: 18px;
}

div.centered {
    height: 2em;
    display: flex;
    align-items: center;
    margin-left: 30px;
}

p.card-text {
    border: 0.5px solid #d8d8d8;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}