<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/ >
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Tagging</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/main.css"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-9">
            <div class="clearfix"></div>
            <h1>Relation Extraction</h1>
            <br/><br/>
            Welcome! In the following you are asked to classify relations in order to evaluate the system I developed in my master thesis. Before you start, please read the following definition carefully.
            <br/><br/>
            <h4>Definition of the term 'relation'</h4>
            A relation extraction is defined as tuple <i>t = (e<sub>i</sub>, r<sub>j</sub>, e<sub>k</sub>)</i>, where <i>e<sub>i</sub></i> and <i>e<sub>k</sub></i> are entities and <i>r<sub>j</sub></i> is the relation between them.
            <i>e<sub>i</sub></i> and <i>e<sub>j</sub></i> should be noun phrases, whereas <i>r<sub>j</sub></i> should be some verb phrase.
            A relation can occur between any nouns.
            The relation phrase (r<sub>j</sub>) can be any phrase based on a verb.
            <br/>
            Consider for example the relation <i>(Microsoft, hat gekauft, LiknedIn)</i>.
            Here, "Microsoft" is the first entity <i>e<sub>i</sub></i>, "hat gekauft" is the relation phrase r<sub>j</sub>, and "LinkedIn" is the second entity e<sub>k</sub>. <br/><br/>
            A relation should be
            <ul>
                <li> <b>Informative</b>: An informative relation does not omit critical information.
                <li> <b>Not too specific</b>: The extracted relation phrase (<i>r<sub>j</sub></i>) should have a meaningful interpretation.
                <li> <b>A Fact</b>: A relation should express a fact and if needed also the circumstances under which this fact holds.
            </ul>
            <br/>

            <h5><b>Informative</b></h5>
            An informative relation contains all critical information of the sentence.
            Attention: A relation can only omit critical information, if the sentence contains additional information. A relation, such as <i>(Die Berge, werden gespiegelt im, See)</i>, has a low information value. However, it is still informative, because it contains all critical information from the sentence "Die Berge werden im See gespiegelt.".<br>
            Example:
            <div class="centered">
                <i>Microsoft macht einen Deal mit LinkedIn.</i>
            </div>
            Possible relation extraction:
            <div class="centered">
                <i>(Microsoft, macht, einen Deal)</i>
            </div>
            The relation is not informative. The fact with whom the deal was made is missing. The informative relation would be:
            <div class="centered">
                <i>(Microsoft, macht einen Deal mit, LinkedIn)</i>
            </div>
            <br/>

            <h5><b>Not too Specific</b></h5>
            The relation should be not too specific.
            A relation is not too specific, if the relation phrase can also occur with other entities. <br>
            Example:
            <div class="centered">
                <i>Microsoft kaufte LinkedIn für mehr als 26 Millionen US-Dollar im Juni 2016.</i>
            </div>
            Possible relation extraction:
            <div class="centered">
                <i>(Microsoft, kaufte LinkedIn für mehr als 26 Millionen US-Doller im, Juni 2016)</i>
            </div>
            The relation is too specific. There are no other entities, which can serve as arguments for this relation phrase.
            <br/><br/>

            <h5><b>A Fact</b></h5>
            Each relation should express a fact of the sentence.
            If a relation is modified by another phrase in the sentence, the relation must contain this modifier. <br>
            Example:
            <div class="centered">
                <i>John Doe behauptet, dass Microsoft LinkedIn gekauft hat.</i>
            </div>
            Possible relation extraction:
            <div class="centered">
                <i>(Microsoft, hat gekauft, LinkedIn)</i>
            </div>
            The relation itself is correct, but it expresses not a fact.
            The relation is only true with the additional information, that someone is claiming this purchase.<br/><br/><br/>

            <h4>Your Task</h4>
            In the following you see one sentence at a time.
            The relations, which are extracted from this sentence, are also shown.
            You <b>must</b> mark each relation as
            <ul>
                <li> <b>not informative</b>
                <li> <b>too specific</b>
                <li> <b>not a fact</b>
                <li> <b>other erros</b>
                <li> <b>ok</b> or
                <li> <b>not sure</b>
            </ul>
            The first three categories were explained above.
            <i>Other errors</i> means, that the relation is not correct for some other reasons. For example, if the sentence is not properly parsed or if one of the entities is not a noun, the relation is somehow not correct. In these cases, you can classify a relation as <i>other errors</i>.
            A relation is <i>ok</i>, if everything is fine.
            Only classify a relation as <i>not sure</i>, if you are really not sure how to label the relation.
            Here are some examples:
            <ul>
                <li> <b>Ok</b>: (WordPress, wurde konzipiert als, reines Blogsystem) in "WordPress wurde ursprünglich als reines Blogsystem konzipiert."
                <li> <b>Ok</b>: (Italien, gehört zu, den beliebtesten Reisezielen der Deutschen) in "Auch heute noch gehört Italien zu den beliebtesten Reisezielen der Deutschen."
                <li> <b>Ok</b>: (Eltern, haften für, ihre minderjährigen Kinder) in "Grundsätzlich gilt: Eltern haften für ihre minderjährigen Kinder."
                <li> <b>Not informative</b>: (OrangeTravel, informiert, den Nutzer) in "OrangeTravel informiert den Nutzer über die Höhe des Entgeltes für den entsprechenden Lieferort in Textform oder per Telefon."
                <li> <b>Too specific</b>: (Radschnellwege, schaffen für einen gemeinde- bzw. kreisübergreifenden Alltags- und Pendlerverkehr, attraktive Verbindungen) in "Radschnellwege schaffen attraktive Verbindungen für einen gemeinde- bzw. kreisübergreifenden Alltags- und Pendlerverkehr, sie entlasten Straßen und ÖPNV, ihnen kommt eine den Landesstraßen vergleichbare regionale Verkehrsbedeutung zu."
            </ul>
            <br>
            You can stop the classification at any time.
            You are told at which sentence you should start your next session.
            Therefore, you just enter the number of that sentence in the field below.
            <br><br>
            Thank you!
            <br><br><br><br>
            <form action="/0" method="post">
                Start at sentence:
                <input type="number" name="sentence_id" min="1" max={{relation_length}} value="1"><br><br>
                <div class="pull-right">
                    <input class="btn btn-primary btn-lg" type="submit" value="Start" id="start" />
                </div>
            </form>
            <div class="clearfix"></div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
</body>
</html>
