<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/ >
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Tagging</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="static/main.css"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script>
        function correctClicked(id) {
            var btn1 = document.getElementById("btn-incorrect-" + id);
            reset(btn1);
            var btn2 = document.getElementById("btn-not-sure-" + id);
            reset(btn2);
        }
        function incorrectClicked(id) {
            var btn1 = document.getElementById("btn-correct-" + id);
            reset(btn1);
            var btn2 = document.getElementById("btn-not-sure-" + id);
            reset(btn2);
        }
        function notsureClicked(id) {
            var btn1 = document.getElementById("btn-incorrect-" + id);
            reset(btn1);
            var btn2 = document.getElementById("btn-correct-" + id);
            reset(btn2);
        }
        function reset(btn) {
            var all = btn.getElementsByTagName('*');
            var i;
            for (i = 0; i < all.length; i++) {
                var el = all[i]
                if (el.nodeName == 'INPUT') {
                    el.checked = false;
                }
                if (el.nodeName == 'LABEL') {
                    el.classList.remove('active');
                }
            }
        }
        function validateForm() {
            var f = document.forms["form"];

            var i = 1;
            while (typeof f['relation-' + i + '-info'] != 'undefined' && f['relation-' + i + '-info'] != null) {
                var values = f['relation-' + i + '-info']

                console.log(values)

                var checked = false;
                var j = 0;
                for (j = 0; j < values.length; j++) {
                    if (values[j].checked) {
                        checked = true;
                    }
                }

                if (!checked) {
                    alert("You must classify all relations!");
                    return false;
                }
                i = i + 1;
            }

            return true;
        }

    </script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-9">
            <div class="clearfix"></div>

            {% if done %}
                <h2>Relation Extraction</h2>
                <br>
                You canceled the session. You have tagged {{ index - 1 }} sentences.
                You can start the next session at sentence {{ index }}.
                <br><br>
                Thank you!
                <form action="/" method="get">
                    <div class="pull-right">
                        <input class="btn btn-default btn-lg" type="submit" value="Home"/>
                    </div>
                </form>

            {% elif index < relation_length %}
                <label> Sentence {{ index + 1 }}/{{ relation_length }} </label>
                <div class="sentence">
                    {{ relations[index]['sentence'] }}
                </div>

                <form id="form" name="form" action="/{{ index + 1 }}" method="post" onsubmit="return validateForm()">
                    <input type="hidden" name="index" value={{ index }}>

                    {% for item in relations[index]['relations'] %}
                    <div class="relations">
                        <div style="font-size:18px" class="row">
                            <div class="col-sm-4">
                                <p class="card-text">{{ item['arg1'] }}</p>
                            </div>
                            <div class="col-sm-3">
                                <p class="card-text">{{ item['rel'] }}</p>
                            </div>
                            <div class="col-sm-4">
                                <p class="card-text">{{ item['arg2'] }}</p>
                            </div>

                        </div>
                            {% if item['context'] != 'main clause' %}
                            <div style="font-size:16px; margin-left: 10px; margin-bottom: 20px;" class="row">
                                Context: {{ item['context'] }}
                            </div>
                            {% endif %}

                        <fieldset>

                            <div class="btn-group" id="btn-incorrect-{{ item['id'] }}" data-toggle="buttons">
                                {% if current_result != None and current_result[relations[index]['relations'].index(item)]['informative'] == 'False' %}
                                    <label class="btn btn-danger active" onclick="incorrectClicked({{ item['id'] }})">
                                        <input type="checkbox" name="relation-{{ item['id'] }}-info" id="uninformative" autocomplete="off" value="uninformative" checked> not informative
                                    </label>
                                {% else %}
                                    <label class="btn btn-danger" onclick="incorrectClicked({{ item['id'] }})">
                                        <input type="checkbox" name="relation-{{ item['id'] }}-info" id="uninformative" autocomplete="off" value="uninformative"> not informative
                                    </label>
                                {% endif %}

                                {% if current_result != None and current_result[relations[index]['relations'].index(item)]['coherent'] == 'False' %}
                                    <label class="btn btn-danger active" onclick="incorrectClicked({{ item['id'] }})">
                                        <input type="checkbox" name="relation-{{ item['id'] }}-info" id="incoherent" autocomplete="off" value="incoherent" checked> too specific
                                    </label>
                                {% else %}
                                    <label class="btn btn-danger" onclick="incorrectClicked({{ item['id'] }})">
                                        <input type="checkbox" name="relation-{{ item['id'] }}-info" id="incoherent" autocomplete="off" value="incoherent"> too specific
                                    </label>
                                {% endif %}

                                {% if current_result != None and current_result[relations[index]['relations'].index(item)]['factual'] == 'False' %}
                                    <label class="btn btn-danger active" onclick="incorrectClicked({{ item['id'] }})">
                                        <input type="checkbox" name="relation-{{ item['id'] }}-info" id="nonfactual" autocomplete="off" value="nonfactual" checked> not a fact
                                    </label>
                                {% else %}
                                    <label class="btn btn-danger" onclick="incorrectClicked({{ item['id'] }})">
                                        <input type="checkbox" name="relation-{{ item['id'] }}-info" id="nonfactual" autocomplete="off" value="nonfactual"> not a fact
                                    </label>
                                {% endif %}
                            </div>

                            <div class="btn-group" id="btn-correct-{{ item['id'] }}" data-toggle="buttons">
                                {% if current_result != None and current_result[relations[index]['relations'].index(item)]['correct'] == 'True' %}
                                    <label class="btn btn-success active" onclick="correctClicked({{ item['id'] }})">
                                        <input type="checkbox" name="relation-{{ item['id'] }}-info" id="correct" autocomplete="off" value="correct" checked> ok
                                    </label>
                                {% else %}
                                    <label class="btn btn-success" onclick="correctClicked({{ item['id'] }})">
                                        <input type="checkbox" name="relation-{{ item['id'] }}-info" id="correct" autocomplete="off" value="correct"> ok
                                    </label>
                                {% endif %}

                            </div>

                            <div class="btn-group" id="btn-not-sure-{{ item['id'] }}" data-toggle="buttons">
                                {% if current_result != None and current_result[relations[index]['relations'].index(item)]['not-sure'] == 'False' %}
                                    <label class="btn btn-info active" onclick="notsureClicked({{ item['id'] }})">
                                        <input type="checkbox" name="relation-{{ item['id'] }}-info" id="not-sure" autocomplete="off" value="not-sure" checked> not sure
                                    </label>
                                {% else %}
                                    <label class="btn btn-info" onclick="notsureClicked({{ item['id'] }})">
                                        <input type="checkbox" name="relation-{{ item['id'] }}-info" id="not-sure" autocomplete="off" value="not-sure"> not sure
                                    </label>
                                {% endif %}

                            </div>
                        </fieldset>

                    </div>
                    <hr style="border-color: grey">
                    {% endfor %}


                    <div class="pull-right" id="form-buttons">
                        <button id="cancel" class="btn btn-default btn-lg" type="submit" name="submit" value="cancel" formnovalidate>Cancel</button>
                        <button id="next" class="btn btn-primary btn-lg" type="submit" name="submit" value="next" autofocus >Next</button>
                    </div>
                </form>

                <hr style="margin-top:150px">

                <h5><b>Definitions:</b></h5>

                <b>Not informative</b><br>
                A not informative relation misses some critical information of the sentence.
                Attention: A relation can only omit critical information, if the sentence contains additional information. A relation, such as <i>(Die Berge, werden gespiegelt im, See)</i>, has a low information value. However, it is still informative, because it contains all critical information from the sentence "Die Berge werden im See gespiegelt.".<br>
                Example:
                <div class="centered">
                    <i>Microsoft macht einen Deal mit LinkedIn.</i>
                </div>
                Possible relation extraction:
                <div class="centered">
                    <i>(Microsoft, macht, einen Deal)</i>
                </div>
                The relation is not informative. The fact with whom the deal was made is missing. The informative relation would be:
                <div class="centered">
                    <i>(Microsoft, macht einen Deal mit, LinkedIn)</i>
                </div>
                <br/>

                <h5><b>Too Specific</b></h5>
                A relation is too specific, if the relation phrase cannot occur with other entities. <br>
                Example:
                <div class="centered">
                    <i>Microsoft kaufte LinkedIn für mehr als 26 Millionen US-Dollar im Juni 2016.</i>
                </div>
                Possible relation extraction:
                <div class="centered">
                    <i>(Microsoft, kaufte LinkedIn für mehr als 26 Millionen US-Doller im, Juni 2016)</i>
                </div>
                The relation is too specific. There are no other entities, which can serve as arguments for this relation phrase.
                <br/><br/>

                <h5><b>Not A Fact</b></h5>
                Each relation should express a fact of the sentence.
                If a fact is modified by another phrase in the sentence, the relation must contain this modifier. <br>
                Example:
                <div class="centered">
                    <i>John Doe behauptet, dass Microsoft LinkedIn gekauft hat.</i>
                </div>
                Possible relation extraction:
                <div class="centered">
                    <i>(Microsoft, hat gekauft, LinkedIn)</i>
                </div>
                The relation itself is correct, but it expresses not a fact.
                The relation is only true with the additional information, that someone is claiming this purchase.

            {% else %}
                <h2>Relation Extraction</h2>
                <br>
                You classified all relations as correct or incorrect. Thank you!
            {% endif %}

            <div class="clearfix"></div>
        </div>

        <div class="col-md-1"></div>
    </div>
</div>
</body>
</html>
